.main-view {
  top: 0em;
  left: 0em;
  width: 100%;
  height: 100vh;
  background-color: #4a403a;
  background-image: url("https://www.transparenttextures.com/patterns/clean-textile.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  font-family: Futura;
}

.pad {
  background-color: #c2c0c0;
  background-image: url("https://www.transparenttextures.com/patterns/bo-play.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  width: 300px;
  height: 500px;
  max-width: 300px;
  max-height: 500px;
  z-index: 999999;
  cursor: pointer;
}

@font-face {
  font-family: "digital-clock-font";
  src: url("./LOOPY_IT.TTF");
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-basis: 100%;
  flex: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: #a45d5d;
  overflow: visible;
  cursor: pointer;
}
